<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elden Ring</title>
    <link rel="icon" type="img" href="../img/logo.png"/>
    <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
    <header>
        <a href="../index.html" class="boton-atras">&larr;</a>
        <h1>Top 5 videojocs</h1>
        <p>Venda de videojocs de gran qualitat per a l'ús personal </p>
    </header>
    <main>
        <section class="game-info">
            <img src="../img/elden-ring.jpeg" alt="Elden Ring">
            <h2>Preu: €69.99</h2>
            <p>Elden Ring és un joc d'acció i aventura de rol en un món obert creat per Hidetaka Miyazaki i George R. R. Martin. Explora un món fantàstic i lluita contra éssers màgics i altres enemics.</p>
        </section>
        <section class="characters">
            <h2>Enemics</h2>
            <ul>
                <li><strong>Titans:</strong> Éssers gegants que es troben en diferents zones del joc.</li>
                <li><strong>Dracs:</strong> Criatures màgiques que poden ser amics o enemics del jugador.</li>
                <li><strong>Espectres:</strong> Enemics que apareixen en zones fosques i són difícils de veure.</li>
            </ul>
        </section>
        <section class="video">
            <h2>Tràiler oficial</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=E3Huy2cdih0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 - Mario Fernández & Pol Casadesús</p>
    </footer>
</body>
</html>