<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIFA 23</title>
    <link rel="icon" type="img" href="../img/logo.png"/>
    <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
    <header>
        <a href="../index.html" class="boton-atras">&larr;</a>
        <h1>Top 5 videojocs</h1>
        <p>Venda de videojocs de gran qualitat per a l'ús personal </p>
    </header>
    <main>
        <section class="game-info">
            <img src="../img/fifa23.jpg" alt="FIFA 23">
            <h2>Preu: €59.99</h2>
            <p>FIFA 23 és l'última entrega de la popular sèrie de videojocs de futbol. Amb gràfics millorats, jugabilitat més fluida i noves funcions, aquest joc et portarà més a prop de l'experiència real del futbol.</p>
        </section>
        <section class="characters">
            <h2>Equips</h2>
            <ul>
                <li><strong>Real Madrid:</strong> El club espanyol amb més títols de la Lliga de Campions de la UEFA.</li>
                <li><strong>Manchester United:</strong> Un dels clubs més exitosos de la Premier League anglesa.</li>
                <li><strong>FC Barcelona:</strong> Un dels clubs més populars i exitosos del món.</li>
            </ul>
        </section>
        <section class="video">
            <h2>Tràiler oficial</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=0tIW1X2dv0c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 - Mario Fernández & Pol Casadesús</p>
    </footer>
</body>
</html>