<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTA V</title>
    <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
    <header>
        <a href="../index.html" class="boton-atras">&larr;</a>
        <h1>Top 5 videojocs</h1>
        <p>Venda de videojocs de gran qualitat per a l'ús personal </p>
    </header>
    <main>
        <section class="game-info">
            <img src="../img/gtav.jpg" alt="GTA 5">
            <h2>Preu: €29.99</h2>
            <p>Grand Theft Auto V és un joc d'acció i aventura en un món obert amb una història èpica i una jugabilitat increïble. Juga com a tres personatges diferents i explora la ciutat de Los Santos.</p>
        </section>
        <section class="characters">
            <h2>Personatges</h2>
            <ul>
                <li><strong>Michael De Santa:</strong> Un ex lladre de banc que ara viu en un barri ric de Los Santos.</li>
                <li><strong>Trevor Philips:</strong> Un psicòpata i ex company de Michael que viu en una caravana al desert.</li>
                <li><strong>Franklin Clinton:</strong> Un jove lladre de vehicles que vol sortir del barri pobre on viu.</li>
            </ul>
        </section>
        <section class="video">
            <h2>Tràiler oficial</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QkkoHAzjnUs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 - Mario Fernández & Pol Casadesús</p>
    </footer>
</body>
</html>
