<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogwarts Legacy</title>
    <link rel="icon" type="img" href="../img/logo.png"/>
    <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
    <header>
        <a href="../index.html" class="boton-atras">&larr;</a>
        <h1>Top 5 videojocs</h1>
        <p>Venda de videojocs de gran qualitat per a l'ús personal </p>
    </header>
    <main>
        <section class="game-info">
            <img src="../img/hogwarts-legacy.jpg" alt="Hogwarts Legacy">
            <h2>Preu: €59.99</h2>
            <p>Hogwarts Legacy és un joc d'acció i aventura de rol ambientat en el món de Harry Potter. Explora el castell de Hogwarts i altres llocs màgics, aprèn encanteris i lluita contra criatures màgiques.</p>
        </section>
        <section class="characters">
            <h2>Personatges</h2>
            <ul>
                <li><strong>Estudiant:</strong> El personatge principal del joc, un estudiant de Hogwarts que aprèn encanteris i lluita contra criatures màgiques.</li>
                <li><strong>Professors:</strong> Els professors de Hogwarts que ensenyen als estudiants encanteris i altres habilitats màgiques.</li>
                <li><strong>Enemics:</strong> Criatures màgiques i altres personatges que es posen en el camí del jugador.</li>
            </ul>
        </section>
        <section class="video">
            <h2>Tràiler oficial</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=S6GTl_vPRvU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 - Mario Fernández & Pol Casadesús</p>
    </footer>
</body>
</html>