<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft</title>
    <link rel="icon" type="img" href="../img/logo.png"/>
    <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
    <header>
        <a href="../index.html" class="boton-atras">&larr;</a>
        <h1>Top 5 videojocs</h1>
        <p>Venda de videojocs de gran qualitat per a l'ús personal </p>
    </header>
    <main>
        <section class="game-info">
            <img src="../img/minecraft.jpg" alt="Minecraft">
            <h2>Preu: €19.99</h2>
            <p>Minecraft és un joc de construcció i aventura en un món obert amb infinites possibilitats creatives. Explora, construeix i sobreviu en solitari o amb amics.</p>
        </section>
        <section class="characters">
            <h2>Personatges</h2>
            <ul>
                <li><strong>Steve:</strong> El personatge principal i avatar del jugador.</li>
                <li><strong>Alex:</strong> Una altra opció d'avatar per al jugador.</li>
                <li><strong>Enderman:</strong> Una criatura llarga i fosca que pot teleportar-se.</li>
                <li><strong>Creeper:</strong> Una criatura verda que explota quan s'apropa al jugador.</li>
                <li><strong>Zombi:</strong> Un enemic comú que ataca al jugador durant la nit.</li>
            </ul>
        </section>
        <section class="video">
            <h2>Tràiler oficial</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MmB9b5njVbA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 - Mario Fernández & Pol Casadesús</p>
    </footer>
</body>
</html>
